.container { 
    position: relative;
    width: 20em;
    min-height: 2em;
    border: .05em solid rgb(61, 100, 54);
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border-radius: .25em;
    outline: none;
    margin: .25em;
}

.container:focus{
    border-color: turquoise;
}

.value{
    flex-grow: 1;
    text-align: start;
}

.clear-button{
    background:none;
    color:#777;
    border:none;
    outline:none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size : 1.25em;
}

.clear-button:hover,
.clear-button:focus{
    color: #333;
    transition: .25s;
}

.divider{
    background-color: #777;
    align-self: stretch;
    width: .05em;
}

.caret{
    translate: 0 25%;
    border: .25em solid transparent;
    border-top-color: #777;
}

.caret:hover,
.caret:focus{
    font-size: 1.5em;
    color: #333;
    transition: .25s;
}

.options{
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 15em;
    border: .05em solid #777;
    border-radius: .25em;
    width: 100%;
    left: 0;
    top: calc(100% + .25em);
    background-color: #fff;
    z-index: 100;
}

.options.show{
    display: block;
}

.option{
    padding: .25em .5em;
    cursor: pointer;
}

.option.highlighted{
    background-color: hsl(200, 100%, 51%);
    color: whitesmoke;
}

.option.selected{
    background-color: aquamarine;
}

.option-badge{
    background: none;
    border: .05em solid gray;
    border-radius: .25em;
    margin: .25em;
}

.option-badge:hover,
.option-badge:focus{
    background-color: #444;
    color: #ddd;
    transition: .25s;
}

.option-badge .clear-button{
    padding-left: .25em;
}